@font-face {
    font-family: pixel;
    src: url('fonts/LowresPixel-Regular.otf');
}

body {
    background-color: rgb(255, 225, 225);
    border: 10px solid rgb(255, 0, 0);
    margin: 0;
    padding-left: 10;
}

div.main {
    margin: 10;
}

div.header {
    margin: 0;
    padding: 0;
    background-color: tomato;
}

div.title {
    font-family: pixel;
    font-size: 400%;
    text-align: center;
    margin: 0;
    padding: 0;

    h1 {
        margin: 0;
    }

    a {
        display:block;
        color: black;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
}

div.nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: lightcoral;
    }

    li {
        font-family: pixel;
        font-size: 125%;
        float: left;
    }

    li a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 8px;
    }

    li a:hover {
        background-color: tomato;
    }
}

p {
    margin: 10px;
    font-size: 110%;
}

p.recommendation {
    text-align: center;
    width: 130px;    
    background-color: white;
    border: 2px dashed tomato;
    border-radius: 20px;
}

hr {
    margin: 5px;
}

a.external:link{
    color: blue;
    text-decoration: none;  
}

a.external:hover {
    text-decoration: underline;
}

a.external:visited {
    color: blue
}